:root {
   --tam-do-site: 1100px;
   --cor-branco: #FFF;
   --cor-cinza-escuro: #727272;
   --cor-azul-claro: #39AAE1;
   --cor-preto: #000;
   --cor-azul: #0079c7;
   --cor-azul-cobalto: #2b4c99;
   --cor-azul-royal: #4373CC;
   --cor-preto: #000;
}
*{
   margin: 0;
   border: 0;
   box-sizing: border-box;
   font-family: Arial, Helvetica, sans-serif;
}
/* Estilos gerais */
body {
   background-color: var(--cor-branco);
}
a{
   text-decoration: none;
   color: var(--cor-preto);
}
/* Configurações cabeçalho */
.container{
   max-width: var(--tam-do-site);
   margin: 0 auto;
}
header .container{
   min-height: 100px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.menu ul li{
   list-style: none;
   display: inline-flex;
   margin-left: 5px;
}
.menu ul li a {
   color: var(--cor-cinza-escuro);
   padding: 10px 20px;
}
.active{
   background-color: var(--cor-azul-claro);
   color: var(--cor-branco) !important;
}
/* Configurações banner  */
.banner {
   background-image: url('images/img1.jpg');
   background-position: center;
   background-size: cover;
   height: 670px;
   padding-top: 50px;
   margin-bottom: 30px;
   color: var(--cor-branco);
}
.banner .container {
   height: 100%;
   display: flex;
   flex-direction: column;
}
.title_banner{
   flex: 1;
}
.title_banner h1{
   font-size: 60px;
   text-shadow: 0px 1px 0px var(--cor-preto);
   margin-bottom: 30px;
}
.title_banner P{
   font-size: 20px;
   line-height: 35px;
}
.banner_options{
   height: 210px;
   display: flex;
}
.banner_options_nav{
   flex: 1;
   padding: 20px;
}
.banner1{
   background-color: var(--cor-azul-claro);
}
.banner2{
   background-color: var(--cor-azul);
}
.banner3{
   background-color: var(--cor-azul-cobalto);
}
.banner_options_nav p {
   margin-top: 30px;
   margin-bottom: 40px;
}
.banner_options_nav a {
   color: var(--cor-branco);
   border: 1px solid var(--cor-branco);
   padding: 10px;
}
.banner1 a:hover{
   background-color: var(--cor-azul);
}
.banner2 a:hover{
   background-color: var(--cor-azul-claro);
}
.banner3 h3{
   margin-bottom: 30px;
}
.Attendances {
   display: flex;
   justify-content: space-between;
   border-bottom: 1px solid var(--cor-azul-royal);
   padding-bottom: 10px;
   margin-bottom: 12px;
}
/* Conteúdo principal */
main{
   display: flex;
}
.main_post{
   flex: 2;
}
.title_news{
   font-size: 21px;
   font-weight: bold;
   padding-bottom: 7px;
}
.title_bar{
   width: 50px;
   height: 2px;
   background-color: var(--cor-azul-claro);
   margin-bottom: 20px;
}
aside {
   /* width: 366.672px; */
   flex: 1;
}
/* Estilos dos posts */
.body_news{
   display: flex;
   flex-wrap: wrap;
   gap: 20px;
}
.news{
   flex: 1;
   min-width: 300px;
   max-width: 350px;
}
.date-post_comments {
   display: flex;
   color: var(--cor-branco);
   font-size: 12px;
   gap:5px;
   margin-bottom: 10px;
}
.date-post{
   background-color: var(--cor-azul-royal);
   padding: 10px ;
}
.comments{
   background-color: var(--cor-azul-claro);
   padding: 10px;
}
.news-tumbnail img {
   width: 100%;
   margin-bottom: 10px;
}
.news-title{
   font-size: 25px;
   font-weight: 550;
   margin-bottom: 10px;
}
.news-contents{
   font-size: 16px;
   line-height: 20px;
   color: var(--cor-cinza-escuro);
}
/* Estilos menu laterais  */
.forms_news{
   display: flex;
   flex-wrap: wrap;
   margin-bottom: 52px;
}
.forms{
   width: 110px;
   height: 110px;
   background-color: var(--cor-azul);
   margin: 12px 12px 12px 0;
}
.desc_appointment{
   text-align: justify;
   padding-bottom: 30px;
   border-bottom: 2px solid var(--cor-cinza-escuro);
}
.desc_contact_text img{
   margin-top: 8px;
   height: 25px;
}
.desc_contact_text{
   display: flex;
   align-items: center;
   margin-top: 20px;
   color: var(--cor-cinza-escuro);
}
.desc_contact_text strong {
   color: var(--cor-preto);
}
.desc_contact_text a{
   text-decoration: underline;
}